
#provisionar-button {
    float: right;
}

.show {
	display: inline;
	margin: 0 auto;
}

.show-header {
	width: 500px;
}

li {
    clear: both;
    float: left;
}

.show-checkbox {
	float: left;
	margin-right: 10px;
}

.show-title {

}

.show-logo {
	float: right;
	width: 30px;
}

.show-description {
	float: right;
    width: 480px;
}

.show-comment {
    clear: both;
    float: right;
    margin-bottom: 10px;
    width: 480px;
}

input[type=text] {
    padding: 0 5px 0 5px;
    width: 150px;
}

.accept-comment-button {
    border-radius: 5px;
    background-color: #f2ffcc;
    float: right;
    font-weight: bold;
    height: 24px;
    text-transform: uppercase;
    width: 103px;
}

.show textarea {
    border: solid 2px #c2c2c2;
    border-radius: 5px;
    float: right;
    height: 100px;
    margin-bottom: 5px;
    max-height: 200px;
    max-width: 474px;
    padding: 2px;
    width: 472px;
}