body {
    background: #ebebeb;
}

header {
    background: #2b2b2b;
    box-shadow: 0 2px 5px 2px #888888;
    display: block;
    position: fixed;
    vertical-align: baseline;
    width: 100%;
    top: 0;
    left: 0;
}

#top-menu {
    margin: 20px;
}

#search-field {
    border-radius: 5px;
}

#search-field:focus {
    outline: none;
    border-color: #98f1dc;
}

#provisionar-button {
    background-color: #ebebeb;
    border: 0;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
    width: 120px;
}

#provisionar-button:hover {
    background-color: #98f1dc;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
}

#shows-list-container {
    clear: both;
    display: block;
    margin-top: 80px;
}


li {
    clear: both;
    float: left;
}

.show {
	display: inline;
	margin: 0 auto;
}

.show-header {
	width: 500px;
}

.show-checkbox {
	float: left;
	margin-right: 10px;
}

.show-title {

}

.show-logo {
	float: right;
	width: 30px;
}

.show-description {
	float: right;
    width: 480px;
}

.show-comment {
    clear: both;
    float: right;
    margin-bottom: 10px;
    width: 480px;
}

input[type=text] {
    padding: 0 5px 0 5px;
    width: 150px;
}

.show textarea {
    border: solid 2px #c2c2c2;
    border-radius: 5px;
    float: right;
    height: 100px;
    margin-bottom: 5px;
    max-height: 200px;
    max-width: 474px;
    padding: 2px;
    width: 472px;
}

.accept-comment-button {
    border: solid 2px #c2c2c2;
    border-radius: 5px;
    background-color: #98f1dc;
    float: right;
    font-weight: bold;
    height: 24px;
    text-transform: uppercase;
    width: 103px;
}
