body {
    background: #ebebeb;
}

header {
    background: #2b2b2b;
    box-shadow: 0 2px 5px 2px #888888;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    vertical-align: baseline;
    width: 100%;
}

#top-menu {
    height: 60px;
}

#search-field {
    border-radius: 5px;
    height: 24px;
    margin: 18px 0 18px 20px;
    width: 200px;
}

#search-field:focus {
    border-color: #98f1dc;
    outline: none;
}

#provisionar-button {
    background-color: #ebebeb;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    font-weight: bold;
    height: 40px;
    margin: 10px 20px 10px 0;
    text-transform: uppercase;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
    width: 200px;
}

#provisionar-button:hover {
    background-color: #98f1dc;
    transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
}