.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.shows-list-container {
    clear: both;
    display: block;
    margin-top: 80px;
}

li {
    clear: both;
    float: left;
    width: 80%;
}

.show {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.show-checkbox {
    float: left;
    margin-right: 10px;
}

.show-title {
    cursor: pointer;
    font-weight: bold;
}

.show-logo {
    float: right;
    width: 30px;
}

.show-description {
    cursor: default;
    float: right;
    width: 95%;
}

.show-comment {
    clear: both;
    float: right;
    margin-bottom: 10px;
    width: 95%;
}

.show textarea {
    border: solid 2px #a8a8a8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: right;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    height: 100px;
    margin: 5px 0 5px 0;
    max-height: 200px;
    max-width: 100%;
    padding: 5px;
    width: 100%;
}

.marked-show .show-comment {
    width: 100%;
}

.show textarea:focus {    
    box-shadow: 0 0 2px 1px #98f1dc;
    outline: none;
}

.buttons-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: right;
    width: 100%;
}

.default-button {
    border: solid 2px #a8a8a8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    font-weight: bold;
    height: 24px;
    text-transform: uppercase;
    width: 103px;
}

.accept-comment-button {
    background-color: rgba(152, 241, 220, .5);
    float: right;
}

.accept-comment-button:hover {
    background-color: rgba(152, 241, 220, 1);
}

.cancel-comment-button {
    background-color: #dbdbdb;
    clear: both;
}

.cancel-comment-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.marked-show {
    background-color: #c2c2c2; 
    border: solid 2px #a8a8a8;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.modify-comment-button {
    background-color: rgba(152, 241, 220, .5);
    float: right;
}

.modify-comment-button:hover {
    background-color: rgba(152, 241, 220, 1);
}
