.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.shows-list-container {
    clear: both;
    display: block;
    margin-top: 100px;
}

ul {
    padding: 0;
}

li {
    clear: both;
    float: left;
    width: 100%;
}

.show {
    border-bottom: solid 2px #b8b8b8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    width: 100%;
}

.show-checkbox {
    float: left;
    margin-right: 10px;
}

.show-title {
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    margin: 0;
}

.show-logo {
    float: right;
    width: 30px;
}

.show-description {
    cursor: default;
    float: left;
    padding-top: 0;
    width: 95%;
}

.show-description p {
    
}

.show-contents-separator {
    border-bottom: solid 2px #b8b8b8;
    width: 100%;
}

.show-comment {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    float: left;
    width: 70%;
}

.show-comment-title {
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    font-style: italic;
}

.show-comment-combobox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    padding-bottom: 20px;
    width: 100%;
    position: inherit;
}

.marked-show {
    width: 100%;
}

.show textarea:focus {    
    box-shadow: 0 0 2px 1px #98f1dc;
    outline: none;
}

.buttons-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    float: left;
    width: 100%;
}

.default-button {
    border: solid 2px #a8a8a8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    font-family: century gothic, URW gothic L, Helvetica, Sans-Serif;
    font-weight: bold;
    height: 24px;
    text-transform: uppercase;
    width: 103px;
}

.accept-comment-button {
    background-color: rgba(152, 241, 220, .5);
    float: right;
}

.accept-comment-button:hover {
    background-color: rgba(152, 241, 220, 1);
}

.cancel-comment-button {
    background-color: #dbdbdb;
    clear: both;
    float: left;
}

.cancel-comment-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.marked-show {
    background-color: #c2c2c2; 
    border: solid 2px #a8a8a8;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.modify-comment-button {
    background-color: rgba(152, 241, 220, .5);
    float: left;
    margin-left: 10px;
}

.modify-comment-button:hover {
    background-color: rgba(152, 241, 220, 1);
}
