
<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>LiveScanner</title>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>

        <!-- Wijmo CSS and script -->
        <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" title="metro-jqueryui" type="text/css" />
        <link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20132.8.min.css" rel="stylesheet" type="text/css" />

        <script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20132.8.min.js" type="text/javascript"></script>
        <script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20132.8.min.js" type="text/javascript"></script>

        <!-- Angular -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="http://cdn.wijmo.com/interop/angular.wijmo.3.20132.8.min.js"></script>

        <!-- Our own scripts and CSS -->
        <script src="../static/js/liveScanner.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/css/header.css">
        <link rel="stylesheet" type="text/css" href="../static/css/shows.css">

    </head>
    <body ng-app="liveScannerApp">

        {%verbatim%}

        <header>
            <div id="top-menu" ng-controller="HeaderCtrl">
                <div id="search-field-container">
                    <input id="search-field" type="search" placeholder="Procurar" ng-model="data.searchParameter"/> 
                </div>
                <div id="selection-hint-container">
                    <p id="selection-hint">Escolha entre 5 e 10 conteúdos</p>
                </div>
                <div id="provisionar-button-container">
                    <input id="provisionar-button" class="{{ data.provisionarStyle }}" type="button" value="Provisionar" ng-disabled="getProvisionarButtonStatus()" ng-style="data.provisionarStyle" ng-click="provisionar()"/>
                </div>

                <div id="log-out">
                    <a href="/accounts/logout/">Log out</a>
                </div>
            </div>
        </header>

        <div class="main-container">

            <div class="shows-list-container" ng-controller="MarkedListCtrl">
                <ul>
                    <li class="show marked-show" ng-repeat="tuple in data.markedShows" value={{tuple.id}}> 
                        <div class="show-header">
                            <p class="show-title" ng-click="selectedShow = !selectedShow">
                                {{ tuple.title }} <img class="show-logo" src="{{ tuple.logoUrl }}"> 
                            </p>
                            <p> {{ tuple.comment }} </p> 
                            <input class="default-button cancel-comment-button" type="button" value="Excluir" ng-click="unSelect(tuple)"/>
                            <input class="default-button modify-comment-button" type="button" value="Modificar" ng-click="seeShowItems = !seeShowItems" ng-show="!seeShowItems"/>
                        </div>

                        <div class="show-description">
                            <p ng-show="selectedShow"> {{ tuple.description }}</p> 
                        </div>

                        <div class="show-comment" ng-show="seeShowItems">
                            <p class="show-comment-title">Use this hints to choose the proper reason for picking the content:<p>
       
                            <div class="show-comment-combobox">
                                <wij-combobox data-source="data.comments" selected-value="comment" selected-index="tuple.index" style="width: 100%" is-editable="false">
                                    <data>
                                        <label bind="hint"></label>
                                        <value bind="comment"></value>
                                    </data>
                                </wij-combobox> 
                            </div>

                            <div class="buttons-container">
                                <input class="default-button accept-comment-button" type="button" value="Salvar" ng-click="changeComment(tuple,comment); seeShowItems = !seeShowItems"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="shows-list-container" ng-controller="UnMarkedListCtrl">
                <ul>
                    <li class="show unmarked-show" ng-repeat="tuple in getFilteredShows()" value={{tuple.id}}> 
                        <div class="show-header">
                            <input class="show-checkbox" type="checkbox" ng-click="selectedShow = !selectedShow; toggleCheckbox(tuple)" ng-checked="tuple.checkboxState" value={{tuple.id}}>
                            <p class="show-title" ng-click="seeShowDescription = !seeShowDescription">
                                {{ tuple.title }} <img class="show-logo" src="{{ tuple.logoUrl }}">
                            </p>
                        </div>

                        <div>
                            <div class="show-description">
                                <p ng-show="seeShowDescription"> {{ tuple.description }}</p> 
                            </div>
                            <div class="show-comment" ng-show="selectedShow">
                                <p class="show-comment-title">Use this hints to choose the proper reason for picking the content:<p>
                                <div class="show-comment-combobox">
                                    <wij-combobox data-source="data.comments" selected-value="tuple.comment" selected-index="tuple.index = data.defaultCommentValue" style="width: 100%" is-editable="false">
                                        <data>
                                            <label bind="hint"></label>
                                            <value bind="comment"></value>
                                        </data>
                                    </wij-combobox>     
                                </div>

                                <div class="buttons-container">
                                    <input class="default-button cancel-comment-button" type="button" value="Cancelar" ng-click="selectedShow = !selectedShow; toggleCheckbox(tuple)"/>
                                    <input class="default-button accept-comment-button" type="button" value="Salvar" ng-click="select(tuple)"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
        </footer>

        {%endverbatim%}

    </body>
</html>