
<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>LiveScanner</title>
        <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>-->

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
        <script src="../static/js/liveScanner.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/css/header.css">
        <link rel="stylesheet" type="text/css" href="../static/css/shows.css">

    </head>
    <body ng-app="liveScannerApp">

        {%verbatim%}

        <header>
            <div id="top-menu" ng-controller="HeaderCtrl">
                <div id="search-field-container">
                    <input id="search-field" type="search" placeholder="Procurar" ng-model="data.searchParameter"/> 
                </div>
                <div id="selection-hint-container">
                    <p id="selection-hint">Escolha entre 5 e 10 conteúdos</p>
                </div>
                <div id="provisionar-button-container">
                    <input id="provisionar-button" class="{{ data.provisionarStyle }}" type="button" value="Provisionar" ng-disabled="getProvisionarButtonStatus()" ng-style="provisionarStyle" ng-click="provisionar()"/>
                </div>

                <div id="log-out">
                    <a href="/accounts/logout/">Log out</a>
                </div>
            </div>
        </header>

        <div class="main-container">
            <div class="shows-list-container" ng-controller="MarkedListCtrl">
                <ul>
                    <li class="show marked-show" ng-repeat="tuple in data.markedShows" value={{tuple.id}}> 
                        <div class="show-header">
                            <p class="show-title" ng-click="selectedShow = !selectedShow">
                                {{ tuple.title }} <img class="show-logo" src="{{ tuple.logoUrl }}"> 
                            </p>
                            <p> {{ tuple.comment }} </p> 
                            <input class="default-button cancel-comment-button" type="button" value="Excluir" ng-click="unSelect(tuple)"/>
                            <input class="default-button modify-comment-button" type="button" value="Modificar" ng-click="seeShowItems = !seeShowItems" ng-show="!seeShowItems"/>
                        </div>

                        <div class="show-description">
                            <p ng-show="selectedShow"> {{ tuple.description }}</p> 
                        </div>

                        <div class="show-comment" ng-show="seeShowItems">
                            <p class="show-comment-title">Use this hints to choose the proper reason for picking the content:<p>
       
                            <div class="show-comment-left-section">
                                <form>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox">for a live event or live sports - <b>it's happening now!</b></p>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox"></p>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox">for a series in it's last season - <b>see it before it's over</b></p>
                                </form>
                            </div>
                            <div class="show-comment-right-section">
                                <form>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox">for a final episode - <b>the grand finale</b></p>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox">for sports or football - <b>tonight's big game</b></p>
                                    <p class="show-comment-option"><input class="show-comment-checkbox" type="checkbox" checked>for anything else - <b>tonight's top picks</b></p>
                                </form>
                            </div>
                            <div class="buttons-container">
                                <input class="default-button accept-comment-button" type="button" value="Salvar" ng-click="changeComment(tuple,comment); seeShowItems = !seeShowItems"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="shows-list-container" ng-controller="UnMarkedListCtrl">
                <ul>
                    <li class="show unmarked-show" ng-repeat="tuple in getFilteredShows()" value={{tuple.id}}> 
                        <div class="show-header">
                            <input class="show-checkbox" type="checkbox" ng-click="selectedShow = !selectedShow; toggleCheckbox(tuple)" ng-checked="tuple.checkboxState" value={{tuple.id}}>
                            <p class="show-title" ng-click="seeShowDescription = !seeShowDescription">
                                {{ tuple.title }} <img class="show-logo" src="{{ tuple.logoUrl }}">
                            </p>
                        </div>

                        <div class="show-description">
                            <p ng-show="seeShowDescription"> {{ tuple.description }}</p> 
                        </div>
                        <div class="show-comment" ng-show="selectedShow">
                            <p class="show-comment-title">Use this hints to choose the proper reason for picking the content:<p>
                            <div class="show-comment-left-section">
                            <select ng-model="tuple.comment" ng-init="tuple.comment='tonights top picks'">
                                <div>
                                    <option value="it's happening now!"><p class="show-comment-option">for a live event or live sports - <b>it's happening now!</b></p></option> 
                                    <option value="be the first to see it on TV"><p class="show-comment-option">for a movie first on live tv, or the first series in season - <b>be the first to see it on TV</b></p></option>
                                    <option value="see it before it's over"><p class="show-comment-option">for a series in it's last season - <b>see it before it's over</b></p></option>
                                    <option value="the grand finale"><p class="show-comment-option">for a final episode - <b>the grand finale</b></p></option>
                                    <option value="tonight's big game"><p class="show-comment-option">for sports or football - <b>tonight's big game</b></p></option>
                                    <option value="tonights top picks" selected><p class="show-comment-option">for anything else - <b>tonight's top picks</b></p></option>
                                </div>
                            </select>
                            </div>

                            <div class="buttons-container">
                                <input class="default-button cancel-comment-button" type="button" value="Cancelar" ng-click="selectedShow = !selectedShow; toggleCheckbox(tuple)"/>
                                <input class="default-button accept-comment-button" type="button" value="Salvar" ng-click="select(tuple)"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
        </footer>

        {%endverbatim%}

    </body>
</html>